<h1>Bienvenidos al Dados 1.0</h1>

<form method="post" action="/jugar">

  <p> Jugador 1: <%= @sumajugador1 %> </p>
  <p> Jugador 2: <%= @sumajugador2 %> </p>
  </br>
  </br>
  <img scr="https://www.google.com.uy/imgres?imgurl=http%3A%2F%2F4.bp.blogspot.com%2F-dXcs_KyCBY4%2FVsdFrieIIvI%2FAAAAAAAAANA%2FW7rM_ESnDiM%2Fs1600%2Fdados-rojos-vector_621212.jpg&imgrefurl=http%3A%2F%2Fmagiaymatematicas.blogspot.com%2F2016%2F02%2Fdados-magicos.html&docid=1pcGwlaX3LdbdM&tbnid=n3KvRYaBQsf1cM%3A&vet=10ahUKEwinldmTy_XXAhVChZAKHfSeAR4QMwhDKAYwBg..i&w=626&h=453&bih=797&biw=1280&q=dados&ved=0ahUKEwinldmTy_XXAhVChZAKHfSeAR4QMwhDKAYwBg&iact=mrc&uact=8" />
  <p> Resultado: <%= @resultado %> </p>
  </br>
  </br>
  <input type= "submit" value= "TirarDados" />
  <input type= "submit" value= "Plantarse" />
</form>

