<h1>Bienvenidos al Dados 1.0</h1>

<form method="post" action="/jugar">

  <p> Jugador 1: <%= @sumajugador1 %> </p>
  <p> Jugador 2: <%= @sumajugador2 %> </p>
  </br>
  </br>
  <img scr="" />
  <p> Resultado: <%= @resultado %> </p>
  </br>
  </br>
  <input type= "submit" value= "TirarDados" />
  <input type= "submit" value= "Plantarse" />
</form>

