<h1>Juego UNO</h1>
</br>
<p> Jugador A: <%= @@puntajeA %> </p>
<p> Jugador B: <%= @@puntajeB %> </p>
</br>
</br>
<img src="http://1.bp.blogspot.com/-2xhyByluOxA/TqTnvAEpgpI/AAAAAAAAAZE/8qm_oVvkj_Q/s1600/dado.png" />
</br>
<p> Resultado Jugador <%= @@turno %> : <%= @@valordado %> </p>
</br>
</br>
</br>

<form method="post" action="/tirardado">
  <input type= "submit" value= "TiraDado" />
</form>

<form method="post" action="/plantarse">
  <input type= "submit" value= "Plantarse" />
</form>
