<form method="get" action="/tirardado">

  <p> Jugador 1: <%= @@puntajeA %> </p>
  <p> Jugador 2: <%= @@puntajeB %> </p>
  </br>
  </br>
  <img scr="" />
  <p> Resultado: <%= @@resultado %> </p>
  </br>
  </br>
  <input type= "submit" value= "Tirar Dado" />
  <input type= "submit" value= "Plantarse" />
</form>
